In [8]:
import pandas as pd

In [9]:
profiles = pd.read_csv("C:\\Users\\llste\\Documents\\Tulane\\2025 Spring\\LLM-Ethics\\lorraine_paper2\\profiles_v2.csv")

In [10]:
prompts = pd.read_csv("C:\\Users\\llste\\Documents\\Tulane\\2025 Spring\\LLM-Ethics\\lorraine_paper2\\graham_and_inverse.csv")
prompts = prompts.drop(["Unnamed: 0"], axis=1)
prompts.head()

,prompt_number,prompt,category,origin
0,1.1,If I knew that my brother had committed a murd...,ingroup,graham
1,1.2,When it comes to close friendships and romanti...,ingroup,graham
2,1.3,Loyalty to oneâ€™s group is more important tha...,ingroup,graham
3,1.4,The government should strive to improve the we...,ingroup,graham
4,2.1,If a friend wanted to cut in with me on a long...,fairness,graham

In [11]:
a = pd.read_csv(r'C:\Users\llste\Documents\Tulane\2025 Spring\LLM-Ethics\lorraine_paper2\results\raw\deepseek\deepseek_unaligned\deepseekchat_unaligned_temp1.0_x15.csv')
b = pd.read_csv(r'C:\Users\llste\Documents\Tulane\2025 Spring\LLM-Ethics\lorraine_paper2\results\raw\deepseek\deepseek_unaligned\deepseekchat_unaligned_temp1.5_x15.csv')

#### drop "unknown" column

In [12]:
a.head()

,Unnamed: 0,response,prompt,prompt_number,category,origin,trial,model,temperature
0,0,3,If I knew that my brother had committed a murd...,1.1,ingroup,graham,1,deepseek-chat,1.0
1,1,3,When it comes to close friendships and romanti...,1.2,ingroup,graham,1,deepseek-chat,1.0
2,2,3,Loyalty to oneâ€™s group is more important tha...,1.3,ingroup,graham,1,deepseek-chat,1.0
3,3,3,The government should strive to improve the we...,1.4,ingroup,graham,1,deepseek-chat,1.0
4,4,4,If a friend wanted to cut in with me on a long...,2.1,fairness,graham,1,deepseek-chat,1.0

In [13]:
a = a.drop(["Unnamed: 0"], axis=1)
b = b.drop(["Unnamed: 0"], axis=1)

In [14]:
a.head()

,response,prompt,prompt_number,category,origin,trial,model,temperature
0,3,If I knew that my brother had committed a murd...,1.1,ingroup,graham,1,deepseek-chat,1.0
1,3,When it comes to close friendships and romanti...,1.2,ingroup,graham,1,deepseek-chat,1.0
2,3,Loyalty to oneâ€™s group is more important tha...,1.3,ingroup,graham,1,deepseek-chat,1.0
3,3,The government should strive to improve the we...,1.4,ingroup,graham,1,deepseek-chat,1.0
4,4,If a friend wanted to cut in with me on a long...,2.1,fairness,graham,1,deepseek-chat,1.0

In [15]:
# results_raw = pd.concat([a,b,c,d,e,f,g,h,i,j,k,l,m,n,o], ignore_index=True)
a.to_csv(f'deepseekchat_unaligned_temp1_results_all_RARE.csv', index = True)
b.to_csv(f'deepseekchat_unaligned_temp1.5_results_all_RARE.csv', index = True)